#app_ruler {
  position: relative;

  .indicator {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 9;
    width: 2px;
    transform: translateX(-1px);
    height: 100%;
    background: linear-gradient(to bottom, #FFE39D, #FF5C48);
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: -4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: linear-gradient(to left bottom, #FFE39D, #FF5C48);
    }
  }
  .swiper-slide{
    .app_ruler_item {
      text-align: center;
      padding: 6px 0 22px;
      font-size: 12px;
      background-repeat: no-repeat;
      background-position: center 27px;
      background-size: 100% 12px;
      background-image: url("ruler_bg.png");
    }
    &:first-child{
      .app_ruler_item {
        background-image: url("ruler_first_bg.png");
      }
    }
    &:last-child{
      .app_ruler_item {
        background-image: url("ruler_last_bg.png");
      }
    }
  }
}