<%= htmlWebpackPlugin.options.head %>
<div id="view">
    <app-header bg="#a1d1ff" :back="false">
        <span>我的</span>
        <i slot="menu" class="iconfont icon-refresh" @click="test"></i>
    </app-header>
    <app-body>
        <div class="banner">
            <app-swiper :slide-index="1" :slide-center="true" slide-space="4%" :slide-view="1.2">
                <app-slide><img src="<%= require('./img1.png') %>" alt=""></app-slide>
                <app-slide><img src="<%= require('./img1.png') %>" alt=""></app-slide>
                <app-slide><img src="<%= require('./img1.png') %>" alt=""></app-slide>
                <app-slide><img src="<%= require('./img1.png') %>" alt=""></app-slide>
                <app-slide><img src="<%= require('./img1.png') %>" alt=""></app-slide>
                <app-slide><img src="<%= require('./img1.png') %>" alt=""></app-slide>
            </app-swiper>
        </div>
        <p style="text-align: center;padding-bottom: 10px;">刻度尺组件：{{rulerValue}}</p>
        <app-ruler :min="1" :max="10" :space="1000" color="#DCDCDC" @change="rulerChange"></app-ruler>
        <div class="content">
            <app-button @click.native="dialog">弹窗</app-button>
            <app-button @click.native="picker1">选择器一：{{pickerValue1}}</app-button>
            <app-button @click.native="picker2">选择器二：{{pickerValue2}}</app-button>
        </div>
    </app-body>
</div>
<%= htmlWebpackPlugin.options.foot %>